<ion-header>
  <ion-toolbar>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <!-- FORM LOGIN -->
  <form class="fontForm">
    <ion-grid>
      <ion-row>
        <ion-col>
          <!-- LOGO OF APPLICATION -->
          <div>
            <ion-img class="imageLogo" src="assets/logo.png"></ion-img>
          </div>
        </ion-col>
      </ion-row>
      <ion-item>
        <ion-label position="floating">Nome</ion-label>
        <ion-input name="userName" type="text" placeholder="Digite seu nome" minlength="2" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Sobrenome</ion-label>
        <ion-input name="userLastname" type="text" placeholder="Digite seu sobrenome" minlength="2" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">E-mail</ion-label>
        <ion-input name="userEmail" type="email" placeholder="Digite seu e-mail" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Senha</ion-label>
        <ion-input name="userPass" type="password" placeholder="Digite sua senha" min="6" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Senha</ion-label>
        <ion-input name="userPassconfirm" type="password" placeholder="Confirme sua senha" min="6" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-checkbox slot="start" required></ion-checkbox>
        <ion-label position="left">Aceita os nossos termos de uso?</ion-label>
      </ion-item>
      <ion-row>
        <ion-col>
          <ion-button id="bCadastrar" type="submit">Cadastrar</ion-button><ion-button id="bBack" type="submit" onclick="window.location='login'">Voltar</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
