<ion-content padding>
  <!-- FORM LOGIN -->
  <form >
    <ion-grid>
      <ion-row>
        <ion-col>
          <!-- LOGO OF APPLICATION -->
          <div class="logo">
            <ion-img src="assets/logo.png"></ion-img>
          </div>
        </ion-col>
      </ion-row>

      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input type="email"></ion-input>
      </ion-item>
     
      <ion-item>
        <ion-label position="floating">Senha</ion-label>
        <ion-input type="password"></ion-input>
      </ion-item>
      <ion-row>
        <ion-col>
          <ion-button expand="full" type="submit">Login</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>