<ion-content padding>
  <!-- FORM LOGIN -->
  <form [formGroup]="formRegister" (ngSubmit)="onSubmit()"> 
    <ion-grid>
      <ion-row>
        <ion-col>
          <!-- LOGO OF APPLICATION -->
          <div class="imageLogo">
            <img  src="assets/logo.png">
          </div>
        </ion-col>
      </ion-row>
      <!-- USER DATA -->
      <ion-item>
        <ion-label position="floating">Nome</ion-label>
        <ion-input formControlName="name" type="text" placeholder="Digite seu nome" ng-pattern="/^[a-zA-Z\s]*$/"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Sobrenome</ion-label>
        <ion-input formControlName="lastname" type="text" placeholder="Digite seu sobrenome"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">E-mail</ion-label>
        <ion-input formControlName="email" type="email" placeholder="Digite seu e-mail"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Senha</ion-label>
        <ion-input formControlName="password" type="password" placeholder="Digite sua senha"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Senha</ion-label>
        <ion-input formControlName="confirmedPassword" type="password" placeholder="Confirme sua senha"></ion-input>
      </ion-item>
      <!-- TERMS OF USE -->
      <div><br>
        <ion-checkbox slot="start" formControlName="acceptTermsOfUse"></ion-checkbox>
        <button class="termsUse" [routerLink]="'/terms-of-use'">Aceita os nossos termos de uso?</button>
      </div>
      <!-- BUTTON REGISTER -->
      <ion-row class="ion-text-center">
        <ion-col>
          <ion-button id="btnCadastrar" type="submit" expand="block" [disabled]="!formRegister.valid">Cadastrar</ion-button>
        </ion-col>
      </ion-row>
      <!-- BUTTON, CASE IF HAVE ACCONUT -->
      <ion-row class="ion-text-center">
        <ion-col>
          <button class="haveAccount"  [routerLink]="'/login'">Já tem cadastro? Faça o login.</button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>