:host {
  ion-title ion-img {
    height: 70px !important;
    width: auto !important;
  }
  
  @media(max-width: 600px){
    ion-title ion-img {
      height: 40px !important;
      width: auto !important;
    }
  }
  
  
  ion-content {
    //--background: url(../../../assets/dashboard.png) 0 0/100% 100% no-repeat;
    --background-size: cover;
  }

}


